.flexbox {
  display: flex;

}

.grid {
  display: grid;
  grid-template-areas:
    "a a"
    "b d"
    "c d"

}

.item {
  display: flex;
  border: 1px solid orange;
  background-color: grey;
  color: white;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

/* Grid template areas */

.g-item-1 {
  grid-area: a;
}

.g-item-2 {
  grid-area: b;
}

.g-item-3 {
  grid-area: c;
}

.g-item-4 {
  grid-area: d;
}


.squares {

}

.stripes {

}

.circle {

}

.text-column {

}


/*
*
* RESPONSIVE
*
*/

  @media screen and (max-width: 582px) {

  }

  @media screen and (min-width: 900px) {

  }
