.flexbox {
  display: flex;

}

.grid {
  display: grid;

}

.item {
  display: flex;
  border: 1px solid orange;
  background-color: grey;
  color: white;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

.squares {

}

.stripes {

}

.circle {

}

.text-column {

}


/*
*
* RESPONSIVE
*
*/

  @media screen and (max-width: 582px) {

  }

  @media screen and (min-width: 900px) {

  }
